body{
    background-color: #E4F9F5;
    margin: 0;
    text-align: center;
}

h1{
  font-size: 6rem;
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

.intro{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  color: #66BFBF;
  width: 40%;
  margin: auto;
}

.user-input{
  margin-top: 20px;
  padding-bottom: 10px;
  background: #ffffff;
}
.user-text{
  width: 40%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  border-style: normal;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.result{
  font-family: 'Montserrat', sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #66BFBF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
